.left_menu {
  width : 100%;
  height: calc(100% - 100px);

  top: 50px;

  position: fixed;
  z-index : 1000;

  transform : translateX(-100%);
  transition: transform 350ms ease-in-out;

  .menu {
    width : 100%;
    height: 100%;
  }
}

.active {
  transform: translateX(0px);
}

.icon {
  width : 18px;
  height: 18px;
  cursor: pointer;
}