.friends {
  width: 100%;

  .header {
    display: block;

    font-weight: 600;
    text-align : center;
  }

  .list {
    list-style: none;

    columns: 3;

    gap: 0px;

    margin : 0px;
    padding: 0px;

    text-align: center;

    li {
      cursor: pointer;
    }
  }
}