.dialog_list_item {
  width     : 90%;
  height    : 70px;
  box-sizing: border-box;

  display    : flex;
  align-items: center;

  border-radius: 10px;

  box-shadow: 1px 2px var(--highlight-color);

  background-color: var(--app-color);

  margin : 0 auto;
  padding: 5px 20px;

  .dialog_avatar {
    max-width    : 80px;
    max-height   : 100%;
    border-radius: 50%;
  }

  .dialog_info {
    width: 100%;

    .up {
      display    : flex;
      align-items: center;

      .name {
        font-weight: 700;
      }

      .last_message_info {
        margin-left: auto;

        .last_message_status {
          display   : block;
          align-self: end;
        }

        .last_message_time {
          display   : block;
          align-self: end;
        }
      }
    }

    .last_message_text {}
  }
}